<nav class="navbar sticky-top navbar-light bg-light">
   <a class="navbar-brand" href="#"></a>
   </nav>

   <nav class="navbar navbar-expand-lg navbar-light bg-light"> <img src="https://www.smarteranalyst.com/wp-content/uploads/2016/03/Nike-Under-Armour.jpg " height="100" width="100">
 <a class="navbar-brand" href="#">My CalPal</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Logout</a>
     </li>
   </ul>
 </div>
</nav>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class="text-center"><font color ="pink">My CalPal</h1></font>
        <h2><font color ="blue">The App where you can track what you have eaten and the Calories you have consumed</h2></font>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="food">Food Ingested</label>
            <input type="text" id="food" class="form-control" aria-describedby="food" placeholder="Enter Food Ingested">
          </div>
          <div class="form-group">
            <label for="calories">Calories Consumed</label>
            <input type="text" id="calories" class="form-control" aria-describedby="calories" placeholder="Enter Calories Consumed">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" class="form-control" aria-describedby="date" placeholder="What day did you eat it? (MM/dd/yyyy)">
          </div>
          <div class="container">
            <h3>Total Calories Eaten</h3>
            <h1 id="displayCalories"></h1>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Food and Calories consumed:</h3>
        <ul id="entry-list" class="list-group">
          {{#each entries}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="entry/{{this.id}}">Food: {{this.food}}; Calories: {{this.calories}}; Date: {{moment this.date "dddd, MMM DD, YYYY"}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}          
        </ul>
        <h3><font color="red">Coming Soon! Our Mobile App for Iphone and Android!</h3> <img src="http://www.openfuturelearning.org/blog/wp-content/uploads/2014/10/app-android-apple.jpg" height="100" width="100"></font>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>