<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Food</label>
            <input type="text" id="food" class="form-control" aria-describedby="food" placeholder="Enter the Food">
          </div>
          <div class="form-group">
            <label for="example-text">Calories</label>
            <input type="text" id="calories" class="form-control" aria-describedby="calories" placeholder="Enter the Calories">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Entries:</h3>
        <ul id="entry-list" class="list-group">
          {{#each entries}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="entry/{{this.id}}">Food: {{this.food}}; Calories: {{this.calories}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>

          {{/each}}
          
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>